/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
    height: 100%;
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $normalWeight;
    min-width: 320px;
}
#headerWrapper {
    background-color: #BF7D65;
    color: white;
}
header {
    display: grid;
    grid-template-columns: 51px auto;
    align-items: center;
	padding: .5rem 2vw;
	h1 {
        font-size: 1.6rem;
        font-weight: $boldWeight;
        padding-left: .5rem;
        color: white;
    }
} // end header
nav {
    z-index: 1000;
    button {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: white;
        padding: .5rem 2vw .5rem 1rem;
    } // end button
    ul {
        background-color: #4CA649;
        position: absolute;
        right: 0;
        width: 100%;
        display: none;
    } // end ul
    ul.open {
        display: block;
    }
    ul li {
        border-bottom: 1px solid rgba(191, 128, 73, .1);
    }
    ul li a {
        display: block;
        padding: .9rem 2vw;
        font-weight: $normalWeight;
        color: rgba(0, 0, 0, .9);
        text-decoration: none;
        text-align: right;
    }
    ul li.active a {
        background-color: darken(#4CA649, 8%);
    }
    ul li a:hover {
        background-color: darken(#4CA649, 4%);
    }
} // end nav
main {
    p {padding: .5rem 2vw; color: $fontColor; line-height: 125%;}
   h1 {
       padding: 1rem 2vw .5rem 2vw; 
       font-size: 1.5rem; 
       color: #D93636;
       font-weight: $normalWeight
   }
   .hero {width: 100%;}
   .hero img {
       width: 100%;
       height: auto;
   }
} // end main
.hero {
   position: relative;
   video {
       width: 100%;
       height: auto;
   }
   div {
       position: absolute;
       top: 0px;
       left: 0;
       right: 500px;
       color: black;
       background: linear-gradient(90deg, rgba(191,125,101,.5) 0%, rgba(191,125,101,0.2) 40%);
       padding: 10px;
       h3 {
           text-shadow: 0 0 2px #0D0D0D;
       }
       p {
           text-shadow: 0 0 2px black;
       }
   }
}
h2 {
    padding: 1rem 2vw .5rem 2vw; 
    font-size: 1.2rem; 
    color: #8C6751;
    font-weight: $normalWeight
}
.allCards {
    padding: 0 $gutter;
    section {
        border: solid 1px #D93636;
        border-radius: 10px;
        overflow: hidden;
        margin: 1rem 0;
        background-color: #ffffff; /* Set the background color of the card */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        h3, p, img {
            margin: 0;
            padding: 1rem $gutter;
        }
        h3 {
            background-color: #D93636;
            font-size: 1.5rem;
            text-align: center;
            color: white;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        img.e2e {
        padding: 0;
        }
        p {
            font-style: italic;
        }
    }
}
#footerWrapper {
    background-color: #BF7D65;
    color: white;
}
footer {
    padding: .5rem $gutter;
    .contact {
        p {
            font-size: 1.2rem;
            margin: .5rem;
            color: white;
            text-align: center;
            a {
                color: white;
                text-align: center;
            }
        }
        ion-icon {
            color: white;
            padding-right: 5px;
        }
    }
    .social {
        display: flex;
        justify-content: center;
        a {
            display: block;
            border: solid 1px white;
            font-size: 2rem;
            margin: .5rem;
            padding: .5rem;
            color: white;
            line-height: 100%;
            &:hover {
                background-color: $fontColor;
                color: white;
            }
        }
    }
    .location {
        font-size: 1.5rem;
        text-align: center;
    }
    p.legal {
        margin: 0;
        font-weight: $normalWeight;
        text-align: center;
    }
}